<ion-header>
  <ion-toolbar>
    <ion-title> Selección de ubicación </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="myForm">
  <ion-list>
    <ion-item *ngIf="selectedOptionIndex >= 0">
      <ion-label>País</ion-label>
      <ion-select (ionChange)="onCountryChange($event); checkFormValidity()" formControlName="countryForm">
        <ion-select-option *ngFor="let country of countries" [value]="country" >
          {{ country.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedOptionIndex >= 1">
      <ion-label>Estado</ion-label>
      <ion-select (ionChange)="onStateChange($event); checkFormValidity()" formControlName="stateForm">
        <ion-select-option *ngFor="let state of states" [value]="state" >
          {{ state.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedOptionIndex >= 2">
      <ion-label>Municipio</ion-label>
      <ion-select (ionChange)="onMunicipalityChange($event); checkFormValidity()" formControlName="municipalityForm">
        <ion-select-option
          *ngFor="let municipality of municipalities"
          [value]="municipality"
          
        >
          {{ municipality.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedOptionIndex >= 3">
      <ion-label>Colonia</ion-label>
      <ion-select (ionChange)="onColonyChange($event); checkFormValidity()" formControlName="colonyForm">
        <ion-select-option *ngFor="let colony of colonies" [value]="colony"
        >
          {{ colony.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedOptionIndex >= 4"
      >
      <ion-label>Ciudad</ion-label>
      <ion-list>
        <ion-item *ngFor="let city of cities" >
          {{ city.city }}
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-button type="submit" [disabled]="isButtonDisabled" color="blue" expand="block">Comprobar</ion-button>


  </ion-list>
</form>
</ion-content>
